

<<<<<<< HEAD
<%= form_for(@post) do |f| %>
=======
<%= form_for @post do |f| %>
>>>>>>> 2d151de9ae637412d9ef62bc6a7fbee05be59ddc
  <label>Post title:</label><br>
  <%= f.text_field :title %><br>
 

<<<<<<< HEAD
  <%= f.submit "Update Post" %>
=======
  <%= f.submit "Submit Article" %>
>>>>>>> 2d151de9ae637412d9ef62bc6a7fbee05be59ddc
<% end %>